.ex-1-square:hover{
  background-color: red;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square:hover{
  opacity: 0;
}

.ex-5-square:hover{
  width: 110px;
  height: 110px;
  margin: 0;
}

.ex-5-square:active{
  width: 20px;
  height: 20px;
  margin: 40px 40px;
}

.ex-6-img:hover{
  filter: grayscale(1);
}